lightfm==1.16
scikit-learn==0.23.2
rq
scipy==1.5.4
joblib==0.17.0
threadpoolctl==2.1.0
alabaster==0.7.12
argh==0.26.2
argon2-cffi
astroid
async-generator==1.10
atomicwrites==1.4.0
attrs
autopep8
backcall==0.2.0
bleach
Brotli==1.0.9
brotlipy==0.7.0
callbacks==0.3.0
certifi==2020.11.8
cffi
click==7.1.2
cloudpickle
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch
docutils==0.16
entrypoints==0.3
flake8
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna
imagesize==1.2.0
importlib-metadata
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
isort
itemloaders==1.0.3
itsdangerous==1.1.0
jedi
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
jsonschema
keyring
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe
matplotlib
mccabe==0.6.1
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy
numpydoc
olefile==0.46
packaging==20.4
pandas
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect
pickleshare
Pillow
plotly
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit
Protego==0.1.16
psutil
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser
pydocstyle
pyflakes==2.2.0
Pygments
pylint
pymongo==3.11.0
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks
python-dateutil==2.8.1
python-jsonrpc-server
python-language-server
pytz==2020.1
pyxdg
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome
qtconsole
QtPy==1.9.0
requests
retrying==1.3.3
rope
SecretStorage
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.1
testpath==0.4.4
toml
tornado==6.0.4
traitlets
typed-ast==1.4.1
ujson
urllib3
watchdog
wcwidth
webencodings==0.5.1
websocket==0.2.1
Werkzeug==1.0.1
wordcloud
wrapt==1.11.2
wurlitzer
yapf
zipp
zope.event==4.5.0
zope.interface==5.2.0
